@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");
* {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  background: #1f1d2b;
}

img {
  max-width: 100%;
}

:root {
  --body-font: "Inter", sans-serif;
  --theme-bg: #1f1d2b;
  --body-color: #808191;
  --button-bg: #353340;
  --border-color: rgb(128 129 145 / 24%);
  --video-bg: #252936;
  --delay: 0s;
}

body {
  font-family: var(--body-font);
  color: var(--body-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 0;
}

.container {
  background-color: var(--theme-bg);
  width: 100%;
  font-size: 15px;
  font-weight: 500;
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
          box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
  position: relative;
}

.container__wrapper-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.sidebar {
  z-index: 9;
  width: 17%;
  position: fixed;
  height: 100%;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar__site-logo-img {
  width: 40px;
  height: 40px;
}

.sidebar .sidebar__box {
  position: fixed;
}

.sidebar .logo {
  display: none;
  width: 30px;
  height: 30px;
  background-color: #22b07d;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sidebar .logo-expand {
  text-decoration: none;
  color: #fff;
  font-size: 19px;
  font-weight: 600;
  line-height: 34px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.sidebar .logo-expand:before {
  content: "";
  position: absolute;
  top: -30px;
  left: 0;
  background: var(--theme-bg);
  width: 110px;
  height: 70px;
  z-index: -1;
}

.sidebar .mir__logo {
  width: 108px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 !important;
  font-size: 15px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: transparent;
}

.sidebar .mir__logo:hover {
  font-weight: 900;
  color: #0daabc;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.sidebar .mir__logo:active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.sidebar-link:hover, .sidebar-link.is-active {
  color: #fff;
  font-weight: 600;
}

.sidebar-link:hover:nth-child(2n + 1) svg, .sidebar-link.is-active:nth-child(2n + 1) svg {
  background: #ff7551;
}

.sidebar-link:hover:nth-child(2n) svg, .sidebar-link.is-active:nth-child(2n) svg {
  background: #32a7e2;
}

.sidebar-link:hover:nth-child(2n + 3) svg, .sidebar-link.is-active:nth-child(2n + 3) svg {
  background: #6c5ecf;
}

.sidebar-link-account {
  display: none !important;
}

@media only screen and (max-width: 920px) {
  .sidebar-link-account {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

.sidebar-icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.sidebar-icon-item {
  width: 23px;
}

.sidebar-icon-item-link-img {
  width: 100%;
}

.sidebar.collapse {
  width: 90px;
  border-right: 1px solid var(--border-color);
}

.sidebar.collapse .logo-expand,
.sidebar.collapse .side-title {
  display: none;
}

.sidebar.collapse .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar.collapse .side-wrapper {
  width: 30px;
}

.sidebar.collapse .side-menu svg {
  margin-right: 30px;
}

@-webkit-keyframes bottom {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes bottom {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.side-menu {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.side-menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: var(--body-color);
}

.side-menu a + a {
  margin-top: 26px;
}

.side-menu svg {
  width: 30px;
  padding: 8px;
  border-radius: 10px;
  background-color: var(--button-bg);
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 16px;
}

.side-menu svg:hover {
  color: #fff;
}

.side-title {
  font-size: 12px;
  letter-spacing: 0.07em;
  margin-bottom: 24px;
}

.side-wrapper {
  border-bottom: 1px solid var(--border-color);
  padding: 25px 0;
  width: 145px;
}

.side-wrapper + .side-wrapper {
  border-bottom: none;
}

.wrapper {
  width: 83%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
}

.header {
  position: fixed;
  width: 80%;
  margin-left: 3%;
  z-index: 19;
  background-color: #1f1d2b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 20px 30px;
  padding-top: 30px;
  margin-bottom: 10px;
}

.burger-menu-img {
  display: none;
  width: 40px;
}

@media only screen and (max-width: 920px) {
  .burger-menu-img {
    display: block;
    width: 40px;
  }
}

@media only screen and (max-width: 800px) {
  .burger-menu-img {
    width: 50px;
  }
}

.burger-menu {
  position: absolute;
  left: 0;
  top: 70px;
  z-index: 9999999;
  background-color: #1f1d2b;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  display: none;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.burger-menu-show {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  display: block;
}

.burger-menu-list {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto 60px auto;
}

.burger-menu-item {
  margin: 20px auto;
  -webkit-box-shadow: 2px 3px 8px 2px #5f5d5d;
          box-shadow: 2px 3px 8px 2px #5f5d5d;
  border-radius: 5px;
}

.burger-menu-item-link {
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: #fff;
}

.search-bar {
  height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 460px;
  width: 100%;
}

.search-bar input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: var(--button-bg);
  border-radius: 8px;
  font-family: var(--body-font);
  font-size: 14px;
  font-weight: 500;
  padding: 0 40px 0 10px;
  -webkit-box-shadow: 0 0 0 2px rgba(134, 140, 160, 0.02);
          box-shadow: 0 0 0 2px rgba(134, 140, 160, 0.02);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966' fill='%23717790c7'%3e%3cpath d='M55.146 51.887L41.588 37.786A22.926 22.926 0 0046.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 00.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3e%3c/svg%3e");
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: 96%;
  color: #fff;
}

.user-settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: auto;
  gap: 8px;
}

@media screen and (max-width: 675px) {
  .user-settings .last-videos-block {
    margin-bottom: 50px;
  }
}

.user-settings svg {
  width: 10px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.user-settings .notify {
  position: relative;
}

.user-settings .notify svg {
  width: 20px;
  margin-left: 24px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.user-settings .notify .notification {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ec5252;
  position: absolute;
  right: 1px;
  border: 1px solid var(--theme-bg);
  top: -2px;
}

@media screen and (max-width: 575px) {
  .user-settings .notify .notification {
    display: none;
  }
}

.user-img {
  width: 30px;
  height: 30px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

.user-name {
  color: #fff;
  font-size: 14px;
  margin: 0 6px 0 12px;
}

@media screen and (max-width: 575px) {
  .user-name {
    display: none;
  }
}

.main-container {
  width: 96%;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 30px 30px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: auto;
  margin-top: 80px;
}

@media only screen and (max-width: 920px) {
  .main-container {
    margin-left: 0;
    margin-top: 85px;
  }
}

@media only screen and (max-width: 600px) {
  .main-container {
    margin-top: 80px;
  }
}

@media only screen and (max-width: 450px) {
  .main-container {
    margin-top: 68px;
  }
}

.anim {
  -webkit-animation: bottom 0.5s var(--delay) both;
          animation: bottom 0.5s var(--delay) both;
}

.main-header {
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  padding-bottom: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#1f1d2b), color-stop(78%, #1f1d2b), to(#1f1d2b00));
  background: linear-gradient(to bottom, #1f1d2b 0%, #1f1d2b 78%, #1f1d2b00 100%);
  z-index: 11;
}

.small-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.small-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  padding-bottom: 10px;
  margin: 30px 0 20px;
}

.small-header::before {
  position: absolute;
  bottom: 0;
  content: "";
  display: inline-block;
  width: 63px;
  height: 3px;
  background-color: red;
}

.small-header::after {
  position: absolute;
  right: 0;
  content: "";
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url("./../images/arrow-right-24.png");
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  background-position: center;
  cursor: pointer;
}

.small-header2 {
  position: relative;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  padding-bottom: 10px;
  margin: 30px 0 20px;
}

.small-header2::before {
  position: absolute;
  bottom: 0;
  content: "";
  display: inline-block;
  width: 63px;
  height: 3px;
  background-color: red;
}

.main-blogs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-blog__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
}

.main-blog__author.tips {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main-blog__title {
  font-size: 25px;
  max-width: 18ch;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin-bottom: 30px;
}

.main-blog {
  background-color: #31abbd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 65%;
  height: 350px;
  border-radius: 20px;
  position: relative;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  background-repeat: no-repeat;
}

.main-blog__img {
  width: 100%;
  height: 350px;
  border-radius: 20px;
}

.main-blog__title {
  position: absolute;
  left: 6%;
  bottom: 6%;
}

.main-blog__live {
  position: absolute;
  width: 70px;
  right: 4%;
  border-radius: 7px;
  bottom: 8%;
}

.main-blog + .main-blog {
  margin-left: 20px;
  width: 35%;
  background-image: url(https://c0.anyrgb.com/images/1020/945/venice-beach-2018-outdoors-sport-men-jumping-desert-sunset-extreme-sports-one-person-action.jpg);
  background-color: unset;
  background-position-x: 0;
  background-size: 139%;
  -webkit-filter: saturate(1.4);
          filter: saturate(1.4);
}

.main-blog + .main-blog .author-img {
  border-color: #ffffffbf;
  margin-top: 14px;
}

.main-blog + .main-blog .author-img__wrapper svg {
  border-color: #ffe6b2;
  color: #e7bb7d;
}

.main-blog + .main-blog .author-detail {
  margin-left: 0;
}

@media screen and (max-width: 905px) {
  .main-blog,
  .main-blog + .main-blog {
    width: 50%;
    height: 250px;
  }
  .main-blog__img,
  .main-blog + .main-blog__img {
    height: 250px;
  }
  .main-blog {
    background-size: cover;
    background-position-x: center;
    background-blend-mode: overlay;
  }
}

.main-blog__time {
  background: rgba(21, 13, 13, 0.44);
  color: #fff;
  padding: 3px 8px;
  font-size: 12px;
  border-radius: 6px;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.author-img {
  width: 52px;
  height: 52px;
  border: 1px solid #ffffffbf;
  padding: 4px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.author-img__wrapper {
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.author-img__wrapper svg {
  width: 16px;
  padding: 2px;
  background-color: #fff;
  color: #0daabc;
  border-radius: 50%;
  border: 2px solid #0daabc;
  position: absolute;
  bottom: 5px;
  right: 0;
}

.author-name {
  font-size: 15px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 8px;
}

.author-info {
  font-size: 13px;
  font-weight: 400;
  color: #fff;
}

.author-detail {
  margin-left: 16px;
}

.seperate {
  width: 3px;
  height: 3px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 6px;
}

.seperate.video-seperate {
  background-color: var(--body-color);
}

.videos {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding-bottom: 30px;
}

@media screen and (max-width: 980px) {
  .videos {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 750px) {
  .last-videos-block {
    margin-bottom: 60px;
  }
}

.video {
  position: relative;
  background-color: var(--video-bg);
  border-radius: 20px;
  overflow: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.video-wrapper {
  position: relative;
}

.video-name {
  color: #fff;
  font-size: 16px;
  line-height: 1.4em;
  padding: 12px 20px 0;
  overflow: hidden;
  background-color: var(--video-bg);
  z-index: 9;
  position: relative;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.video-view {
  font-size: 12px;
  padding: 12px 20px 20px;
  background-color: var(--video-bg);
  position: relative;
  color: grey;
}

.video-by {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 20px 20px 0px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  color: grey;
}

.video-by:before {
  content: "";
  background-color: #22b07d;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  top: 26px;
  right: 5px;
}

.video-by.offline:before {
  background-color: #ff7551;
}

.video-time {
  position: absolute;
  background: rgba(21, 13, 13, 0.44);
  color: #ffffffd9;
  padding: 3px 8px;
  font-size: 12px;
  border-radius: 6px;
  top: 10px;
  z-index: 1;
  right: 8px;
}

.video:hover video {
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.video:hover .video-time {
  display: none;
}

.video:hover .video-author {
  bottom: -65px;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  right: -3px;
  z-index: 10;
}

.video:hover .video-by {
  opacity: 0;
}

.video-author {
  position: absolute;
  right: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  bottom: -25px;
}

.video-author svg {
  background-color: #0aa0f7;
  color: #fff;
  border-color: var(--video-bg);
}

.video-p-sub {
  color: grey;
}

video {
  width: 100%;
  border-radius: 20px 20px 0 0;
  display: block;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.video-img-banner {
  width: 100%;
  height: 190px;
}

.stream-area {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

@media screen and (max-width: 940px) {
  .stream-area {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .stream-area .video-stream {
    width: 100%;
  }
  .stream-area .chat-stream {
    margin-left: 0;
    margin-top: 30px;
  }
  .stream-area .video-js.vjs-fluid {
    min-height: 250px;
  }
  .stream-area .msg__content {
    max-width: 100%;
  }
}

.stream-area-video {
  width: 60%;
  margin-left: auto;
  margin-right: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 1100px) {
  .stream-area-video {
    margin-right: 180px;
  }
}

@media screen and (max-width: 920px) {
  .stream-area-video {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 40px;
    width: 90%;
  }
  .stream-area-video .video-stream {
    width: 100%;
  }
  .stream-area-video .chat-stream {
    margin-left: 0;
    margin-top: 30px;
  }
  .stream-area-video .video-js.vjs-fluid {
    min-height: 250px;
  }
  .stream-area-video .msg__content {
    max-width: 100%;
  }
}

@media only screen and (max-width: 920px) and (max-width: 500px) {
  .stream-area-video {
    margin-right: 0px;
    width: 100%;
  }
}

.video-stream {
  width: 100%;
  padding: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.video-stream:hover .video-js .vjs-big-play-button {
  opacity: 1;
}

.video-stream-category {
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.video-stream-category:hover .video-js .vjs-big-play-button {
  opacity: 1;
}

.video-stream-img {
  width: 100%;
  height: 450px;
  border-radius: 15px;
}

@media only screen and (max-width: 1100px) {
  .video-stream-img {
    height: 400px;
  }
}

@media only screen and (max-width: 600px) {
  .video-stream-img {
    height: 300px;
  }
}

@media only screen and (max-width: 450px) {
  .video-stream-img {
    height: 240px;
  }
}

.video-p {
  margin-right: 12px;
  -o-object-fit: cover;
     object-fit: cover;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 50%;
  position: relative;
  top: 0;
  left: 0;
}

.video-p .author-img {
  border: 0;
}

.video-p-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video-p-wrapper .author-img {
  border: 0;
}

.video-p-wrapper svg {
  width: 20px;
  padding: 4px;
}

@media screen and (max-width: 650px) {
  .video-p-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .video-p-wrapper .button-wrapper {
    margin: 20px auto 0;
  }
  .video-p-wrapper .video-p-detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .video-p-wrapper .video-p {
    margin-right: 0;
  }
}

.video-p-sub {
  font-size: 12px;
}

.video-p-title {
  font-size: 24px;
  color: #fff;
  line-height: 1.4em;
  margin: 16px 0 20px;
}

.video-p-subtitle {
  font-size: 14px;
  line-height: 1.5em;
  max-width: 60ch;
}

.video-p-subtitle + .video-p-subtitle {
  margin-top: 16px;
}

.video-p-name {
  margin-bottom: 8px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video-p-name:after {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #22b07d;
  border-radius: 50%;
  margin-left: 8px;
  display: inline-block;
}

.video-p-name.offline:after {
  background-color: #ff7551;
}

.video-content {
  width: 100%;
}

.button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--button-bg);
  color: #fff;
  border: 0;
  font-family: var(--body-font);
  border-radius: 8px;
  padding: 10px 16px;
  font-size: 14px;
  cursor: pointer;
}

.like.red {
  background-color: #ea5f5f;
}

.like svg {
  width: 18px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 10px;
  padding: 0;
}

.like + .like {
  margin-left: 16px;
}

.video-stats {
  margin-left: 30px;
}

.video-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  width: 100%;
}

.chat {
  width: 100%;
}

.chat-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #252836;
  left: 0;
  z-index: 1;
  border-bottom: 1px solid var(--border-color);
}

.chat-header svg {
  width: 15px;
  margin-right: 6px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.chat-header span {
  margin-left: auto;
  color: var(--body-color);
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chat-stream {
  width: 40%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 20px;
  padding-right: 0;
  margin-bottom: 80px;
}

@media screen and (max-width: 940px) {
  .chat-stream {
    width: 100%;
    margin-bottom: 100px;
  }
}

.chat {
  background-color: #252836;
  border-radius: 20px;
  padding: 0 20px;
  max-height: 414px;
  overflow: auto;
  margin-bottom: 30px;
}

.chat-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  left: 0;
  width: calc(100% + 20px);
  padding-bottom: 12px;
  background-color: #252836;
}

.chat-footer input {
  width: 100%;
  border: 0;
  background-color: #2d303e;
  border-radius: 20px;
  font-size: 12px;
  color: #fff;
  margin-left: -10px;
  padding: 12px 40px;
  font-weight: 500;
  font-family: var(--body-font);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 12C2 6.48 6.47 2 12 2c5.52 0 10 4.48 10 10s-4.48 10-10 10C6.47 22 2 17.52 2 12zm5.52 1.2c-.66 0-1.2-.54-1.2-1.2 0-.66.54-1.2 1.2-1.2.66 0 1.19.54 1.19 1.2 0 .66-.53 1.2-1.19 1.2zM10.8 12c0 .66.54 1.2 1.2 1.2.66 0 1.19-.54 1.19-1.2a1.194 1.194 0 10-2.39 0zm4.48 0a1.195 1.195 0 102.39 0 1.194 1.194 0 10-2.39 0z' fill='%236c6e78'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: 8px;
}

.chat-footer input::-webkit-input-placeholder {
  color: #6c6e78;
}

.chat-footer input:-ms-input-placeholder {
  color: #6c6e78;
}

.chat-footer input::-ms-input-placeholder {
  color: #6c6e78;
}

.chat-footer input::placeholder {
  color: #6c6e78;
}

.chat-footer:before {
  content: "";
  position: absolute;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 24 24' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M21.435 2.582a1.933 1.933 0 00-1.93-.503L3.408 6.759a1.92 1.92 0 00-1.384 1.522c-.142.75.355 1.704 1.003 2.102l5.033 3.094a1.304 1.304 0 001.61-.194l5.763-5.799a.734.734 0 011.06 0c.29.292.29.765 0 1.067l-5.773 5.8c-.428.43-.508 1.1-.193 1.62l3.075 5.083c.36.604.98.946 1.66.946.08 0 .17 0 .251-.01.78-.1 1.4-.634 1.63-1.39l4.773-16.075c.21-.685.02-1.43-.48-1.943z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: center;
  width: 18px;
  height: 18px;
  background-color: #6c5ecf;
  padding: 4px;
  border-radius: 50%;
  right: 16px;
}

.chat-vid__title {
  color: #fff;
  font-size: 18px;
}

.chat-vid__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 26px;
}

.chat-vid__name {
  color: #fff;
  font-size: 14px;
  line-height: 1.3em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

.chat-vid__img {
  width: 100px;
  height: 80px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
  margin-right: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.chat-vid__img:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.chat-vid__content {
  max-width: 20ch;
}

.chat-vid__by, .chat-vid__info {
  color: var(--body-color);
  font-size: 13px;
}

.chat-vid__by {
  margin: 6px 0;
}

.chat-vid__button {
  background-color: #6c5ecf;
  border: 0;
  color: #fff;
  font-size: 13px;
  margin-top: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.chat-vid__button:hover {
  background-color: #5847d0;
}

.message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 18px;
  cursor: pointer;
  border-radius: 4px;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

.message:hover {
  -webkit-box-shadow: 0 0 5px 1px grey;
          box-shadow: 0 0 5px 1px grey;
}

.message:active {
  -webkit-box-shadow: 0 0 10px 2px grey;
          box-shadow: 0 0 10px 2px grey;
}

.message:last-child {
  margin-bottom: 18px;
}

.message-container .author-img__wrapper svg {
  width: 15px;
}

.msg__name {
  font-size: 13px;
}

.msg__content {
  line-height: 1.4em;
  max-width: 26ch;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.video-js .vjs-control-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vjs-poster {
  background-size: 150%;
}

.video-js .vjs-control-bar {
  width: 100%;
  position: absolute;
  bottom: 14px;
  padding-left: 36px;
  left: 14px;
  width: calc(100% - 28px);
  right: 0;
  border-radius: 10px;
  height: 4em;
  background-color: #2b333f;
  background-color: rgba(43, 51, 63, 0.7);
}

@media screen and (max-width: 625px) {
  .video-js .vjs-control-bar {
    padding-left: 0;
  }
}

.video-js:hover .vjs-big-play-button {
  background-color: rgba(43, 51, 63, 0.5);
}

.video-js .vjs-big-play-button {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  border: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.video-js .vjs-big-play-button:hover {
  background-color: rgba(43, 51, 63, 0.7);
  border-color: transparent;
}

.static {
  position: static !important;
  background-color: #1f1d2b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 20px 30px;
  padding-top: 30px;
  margin-bottom: 10px;
}

.vjs-play-control:after {
  content: "LIVE";
  position: absolute;
  left: -66px;
  top: 7px;
  background-color: #8941e3;
  height: 24px;
  font-family: var(--body-font);
  font-size: 10px;
  padding: 0 12px 0 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  letter-spacing: 0.03em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%23fff' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-circle'%3e%3ccircle cx='12' cy='12' r='10'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 6px;
  background-position: 12px;
}

@media screen and (max-width: 625px) {
  .vjs-play-control:after {
    display: none;
  }
}

.vjs-menu-button-inline .vjs-menu {
  top: 4px;
}

.video-js .vjs-control:before,
.video-js .vjs-time-control {
  line-height: 40px;
}

.video-js .vjs-tech {
  -o-object-fit: cover;
     object-fit: cover;
}

button.vjs-play-control.vjs-control.vjs-button {
  margin-left: 40px;
}

@media screen and (max-width: 625px) {
  button.vjs-play-control.vjs-control.vjs-button {
    margin-left: 0;
  }
}

.vjs-icon-fullscreen-enter:before,
.video-js .vjs-fullscreen-control:before {
  content: "";
  position: absolute;
  display: block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.54 0h3.38c1.41 0 2.54 1.15 2.54 2.561V5.97c0 1.42-1.13 2.56-2.54 2.56H2.54C1.14 8.53 0 7.39 0 5.97V2.561C0 1.15 1.14 0 2.54 0zm0 11.47h3.38c1.41 0 2.54 1.14 2.54 2.56v3.41c0 1.41-1.13 2.56-2.54 2.56H2.54C1.14 20 0 18.85 0 17.44v-3.41c0-1.42 1.14-2.56 2.54-2.56zM17.46 0h-3.38c-1.41 0-2.54 1.15-2.54 2.561V5.97c0 1.42 1.13 2.56 2.54 2.56h3.38c1.4 0 2.54-1.14 2.54-2.56V2.561C20 1.15 18.86 0 17.46 0zm-3.38 11.47h3.38c1.4 0 2.54 1.14 2.54 2.56v3.41c0 1.41-1.14 2.56-2.54 2.56h-3.38c-1.41 0-2.54-1.15-2.54-2.56v-3.41c0-1.42 1.13-2.56 2.54-2.56z' fill='%23fff'/%3e%3c/svg%3e");
  background-size: 11px;
  background-position: center;
  background-position-y: 14px;
  background-repeat: no-repeat;
  opacity: 0.6;
}

.vjs-playback-rate .vjs-playback-rate-value {
  font-size: 1.1em;
  line-height: 3.5em;
  opacity: 0.6;
  font-weight: 700;
  font-family: var(--body-font);
}

.video-js .vjs-playback-rate {
  width: 2.2em;
}

.video-js.vjs-fluid {
  border-radius: 20px;
  overflow: hidden;
  min-height: 414px;
}

@media screen and (max-width: 735px) {
  .main-blogs {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main-blog,
  .main-blog + .main-blog {
    width: 100%;
  }
  .videos {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .main-blog + .main-blog {
    margin-left: 0;
    margin-top: 20px;
    background-size: cover;
  }
}

@media screen and (max-width: 475px) {
  .main-blog__title {
    font-size: 18px;
  }
  .author-name {
    font-size: 14px;
  }
  .main-blog__author {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .author-detail {
    margin-left: 0;
  }
  .main-blog .author-img {
    margin-top: 14px;
  }
  .main-container {
    padding: 0 20px 20px;
  }
  .header {
    padding: 20px;
  }
  .sidebar.collapse {
    width: 40px;
  }
  .sidebar {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body {
    padding: 0;
  }
  .container {
    height: 100vh;
    border-radius: 0;
    max-height: 100%;
  }
}

::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
}

.lupa {
  cursor: pointer;
  display: none;
  margin: 0 10px;
  width: 28px;
  height: 28px;
}

@media only screen and (max-width: 650px) {
  .lupa {
    width: 23px;
    height: 23px;
  }
}

::-webkit-scrollbar-thumb {
  background-color: #15141aa1;
  border-radius: 10px;
}

.relative {
  position: relative !important;
}

.category-wrap {
  margin-left: 200px !important;
  background-color: #1f1d2b;
}

.live {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.live__videos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video-live {
  margin: 0 auto;
  width: 250px;
}

.live__wrap {
  width: 60%;
}

.live-small {
  padding: 0 50px;
  width: 100%;
}

.live__chat-stream {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
  margin-top: 30px;
}

.side {
  position: fixed;
  top: 0;
  left: 0;
}

.search-bar {
  position: relative;
}

.lupa2 {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 2;
  background: #353340;
  display: none;
}

.open-search {
  display: block !important;
}

@media screen and (max-width: 920px) {
  .sidebar {
    position: fixed;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 0;
    z-index: 99999;
  }
  .search {
    display: none;
  }
  .sidebar-link-latest {
    display: none !important;
    border: 1px solid red;
  }
  .open-searchs {
    display: none !important;
  }
  .header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0px;
  }
  .lupa {
    display: block;
  }
  .sidebar__box {
    width: 100%;
    position: fixed !important;
    bottom: 0 !important;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sidebar__box {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #252936;
  }
  .side-wrapper {
    padding: 10px 0;
    margin: 0 auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .side-wrapper .side-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .side-menu {
    width: 90%;
  }
  .sidebar-link {
    margin: 0 !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 920px) and (max-width: 500px) {
  .sidebar-link {
    font-size: 14px;
  }
}

@media only screen and (max-width: 920px) and (max-width: 400px) {
  .sidebar-link {
    font-size: 11px;
  }
}

@media screen and (max-width: 920px) {
  .sidebar-link svg {
    width: 32px;
    margin-bottom: 10px;
    margin-right: 0;
  }
  .live-category {
    display: none;
  }
  .mir__logo {
    display: none !important;
  }
  .live {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .live__wrap {
    width: 100% !important;
  }
  .live__chat-stream {
    width: 100% !important;
  }
  .live__chat {
    width: 100%;
  }
  .category-wrap {
    width: 100% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    margin-left: 0 !important;
  }
  .category__menu {
    width: 300px;
    z-index: 44;
  }
}

@media screen and (max-width: 520px) {
  .live__videos {
    width: 100%;
  }
  .video-live {
    width: 90%;
  }
}

.containerBox {
  width: 96vw;
}

.allDocs__wrapper {
  padding: 30px 0;
}

.allDocs__wrapper-prev-link {
  padding: 6px 12px;
  border-radius: 5px;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  gap: 8px;
  margin-bottom: 15px;
  background-color: #fdc483;
  -webkit-box-shadow: 0 0 8px 1px cyan;
          box-shadow: 0 0 8px 1px cyan;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.allDocs__wrapper-prev-link:hover {
  -webkit-box-shadow: 0 0 12px 2px cyan;
          box-shadow: 0 0 12px 2px cyan;
}

.allDocs__wrapper-prev-link:active {
  -webkit-box-shadow: 0 0 20px 6px #049d9d;
          box-shadow: 0 0 20px 6px #049d9d;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.allDocs__wrapper-title {
  text-align: center;
  margin-bottom: 20px;
}

.allDocs__wrapper-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

.allDocs__wrapper-item {
  background-color: rgba(127, 126, 128, 0.7);
  max-width: 260px;
  width: 100%;
  padding: 12px;
  margin: 12px auto;
  border-radius: 8px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.allDocs__wrapper-item:hover {
  -webkit-box-shadow: 0 0 12px 1px cyan;
          box-shadow: 0 0 12px 1px cyan;
}

.allDocs__wrapper-item:active {
  -webkit-box-shadow: 0 0 25px 0 cyan;
          box-shadow: 0 0 25px 0 cyan;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.allDocs__wrapper-item-img {
  width: 100%;
  height: 210px;
  border-radius: 8px;
  margin-bottom: 7px;
}

.allDocs__wrapper-item-title {
  font-size: 24px;
  letter-spacing: 1px;
  color: black;
  margin-bottom: 10px;
}

.allDocs__wrapper-item-list {
  margin-left: 30px;
  list-style: disc;
  margin-bottom: 10px;
}

.allDocs__wrapper-item-item {
  color: black;
  font-size: 18px;
  font-style: italic;
}

.allDocs__wrapper-item-item:not(:last-child) {
  margin-bottom: 5px;
}

.allDocs__wrapper-item-text {
  color: black;
  font-size: 17px;
}

.search__input-box {
  position: fixed;
  width: 83%;
  padding: 30px 0;
  background-color: #1f1d2b;
  margin: 0 auto 0px;
  z-index: 9;
}

@media only screen and (max-width: 921px) {
  .search__input-box {
    width: 90%;
    padding: 25px 0;
  }
}

.search__input-box-input {
  padding: 12px 15px;
  width: 50%;
  margin: 0 auto;
  display: block;
  font-size: 22px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px 5px grey;
          box-shadow: 5px 5px 15px 5px grey;
}

.search__input-box-input::-webkit-input-placeholder {
  -webkit-columns: grey;
          columns: grey;
}

.search__input-box-input:-ms-input-placeholder {
  columns: grey;
}

.search__input-box-input::-ms-input-placeholder {
  columns: grey;
}

.search__input-box-input::placeholder {
  -webkit-columns: grey;
          columns: grey;
}

@media only screen and (max-width: 600px) {
  .search__input-box-input {
    width: 60%;
    padding: 10px 15px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .search__input-box-input {
    width: 90%;
    padding: 8px 15px;
    margin-left: 3%;
    font-size: 16px;
  }
}

.search__wrapper-list {
  width: 90%;
  margin: 0 auto;
  margin-top: 125px;
  margin-bottom: 20px;
}

.search__wrapper-item {
  border-bottom: 1px solid grey;
  margin-bottom: 40px;
  padding-bottom: 10px;
}

.search__wrapper-item-link {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.search__wrapper-item-link:hover {
  -webkit-box-shadow: 0 0 5px 1px grey;
          box-shadow: 0 0 5px 1px grey;
  border-radius: 10px;
}

.search__wrapper-item-link:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.search__wrapper-item-img {
  width: 25%;
  border-radius: 6px;
}

@media only screen and (max-width: 1200px) {
  .search__wrapper-item-img {
    width: 35%;
  }
}

@media only screen and (max-width: 700px) {
  .search__wrapper-item-img {
    width: 35%;
  }
}

.search__wrapper-item-box {
  padding-bottom: 10px;
  width: 100%;
}

.search__wrapper-item-box-title {
  color: white;
  margin-bottom: 15px;
}

@media only screen and (max-width: 800px) {
  .search__wrapper-item-box-title {
    margin-bottom: 10px;
    font-size: 18px;
  }
}

@media only screen and (max-width: 650px) {
  .search__wrapper-item-box-title {
    margin-bottom: 6px;
    font-size: 16px;
  }
}

.search__wrapper-item-box-icon {
  width: 15px;
}

.search__wrapper-item-box-text {
  width: 160px;
  color: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

@media only screen and (max-width: 800px) {
  .search__wrapper-item-box-text {
    margin-bottom: 10px;
    font-size: 15px;
  }
}

.search__wrapper-item-box-desc {
  color: grey;
  font-size: 18px;
}

@media only screen and (max-width: 800px) {
  .search__wrapper-item-box-desc {
    width: 340px;
    font-size: 17px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

@media only screen and (max-width: 650px) {
  .search__wrapper-item-box-desc {
    width: 260px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 500px) {
  .search__wrapper-item-box-desc {
    width: 180px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 450px) {
  .search__wrapper-item-box-desc {
    width: 150px;
    font-size: 14px;
  }
}

.account {
  width: 100%;
}

@media only screen and (max-width: 920px) {
  .account .account {
    margin-bottom: 60px;
  }
}

.account-top {
  background-color: #252837;
  padding: 40px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}

.account-top-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.account-top-avatar {
  width: 120px;
  height: 120px;
}

.account-top-box-title {
  font-size: 26px;
  margin-bottom: 10px;
}

.account-top-box-text {
  letter-spacing: 1px;
}

.account-statistics-list {
  background-color: #252837;
  padding: 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 25px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.account-statistics-item {
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  font-weight: 900;
}

.account-statistics-item-span {
  font-size: 28px;
  font-weight: bold;
  color: #5aa0d7;
}

.account-news {
  margin-bottom: 80px;
}

.account-news-box {
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.account-news-box-title {
  font-size: 26px;
}

.account-news-box-link {
  display: block;
  color: #fff;
  background-color: #f0426b;
  border-radius: 20px;
  padding: 5px 15px;
  text-transform: uppercase;
}

.account-news-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.account-news-item {
  border-radius: 15px;
  overflow: hidden;
  width: 46%;
  margin: 1.5% auto;
}

.account-news-item-link {
  position: relative;
}

.account-news-item-img {
  border-radius: 15px;
  width: 100%;
}

.account-news-item-subtitle {
  width: 90%;
  position: absolute;
  bottom: 0;
  font-size: 26px;
  margin: 20px;
  color: white;
}

@media only screen and (max-width: 735px) {
  .account-news-item-subtitle {
    font-size: 23px;
    margin: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .account-news-item-subtitle {
    font-size: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .account-news-item-subtitle {
    margin: 10px;
    font-size: 17px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

@media only screen and (max-width: 920px) {
  .chat-stream-hidden-account {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .account-top {
    padding: 30px;
  }
  .account-top-avatar {
    width: 90px;
    height: 90px;
  }
  .account-top-box-title {
    font-size: 22px;
  }
  .account-statistics-list {
    padding: 20px 10px;
  }
  .account-statistics-item {
    font-size: 18px;
  }
  .account-statistics-item-span {
    font-size: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .account-top {
    padding: 25px 20px;
  }
  .account-top-avatar {
    width: 60px;
    height: 60px;
  }
  .account-top-box-title {
    margin-bottom: 7px;
    font-size: 20px;
  }
  .account-statistics-list {
    border-radius: 15px;
    padding: 20px 0px;
  }
  .account-statistics-item {
    font-size: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .account-statistics-item-span {
    font-size: 18px;
  }
}

.category {
  width: 100%;
}

.category-title {
  font-size: 32px;
  margin-bottom: 20px;
}

.category-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.category-item {
  width: 46%;
  margin: 10px auto;
  border-radius: 15px;
  overflow: hidden;
}

.category-item-link {
  position: relative;
  width: 100%;
}

.category-item-link-img {
  border-radius: 15px;
}

.category-item-link-title {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 20px;
  font-size: 30px;
  font-weight: bolder;
  color: white;
}

@media only screen and (max-width: 500px) {
  .category-item-link-title {
    font-size: 24px;
  }
}
/*# sourceMappingURL=style.css.map */